/* Created mostly by RB of the FimFiction server, with sparse help from Figments */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/* Nav Element Stylings */
nav {
    width: 100%;
    height: 10rem;
    color: #F3CD49;
    background-image: url(/assets/images/4441cd00e8a9d75436b52d5ad646ff4f.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    margin-bottom: 3em;
}
nav > div {
    background-color: rgba(24,25,29,0.9); 
}

nav > div > div {
    padding: 0.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    width: 95%;
    max-width: 96rem;
}

nav > div > div > span {
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: right;
}

nav > div > div > h1 {
  display: inline;
  color: #F3CD49;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 300;
}

nav > div > div > h1 > strong {
    font-weight: 700;
}

@media screen and (max-width : 550px) {
    nav > div > div > h1 {
        font-size: 25px;
    }
}

nav > div > div > span > span > a {
    font-family: 'Montserrat';
    padding: 2rem;
    color: #F3CD49;
    text-decoration: none;
    font-size: 16px;
}

nav > div > div > span > span > a:hover {
    color: #838EDB;
}

.hamburger {
    display: none;
    text-align: left;
    justify-self: end;
    margin: auto 0;
    margin-bottom: 1.2rem;
}

@media screen and (max-width : 550px) {
    .hamburger {
        margin-bottom: -0.5rem;
    }

    .hamburger > .dropdown {
        margin: 0;
    }
}

.hamburger > input[type=checkbox] {
    display: none;
}

.hamburger > input[type=checkbox]:checked ~ #menu {
    display: block;
}

.hamburger > .dropdown {
    display: none;
    position: absolute;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    margin-top: 1rem;
}

.hamburger > .dropdown > span {
    display: block;
    float: none;
    margin: 0 auto;
    background-color: rgba(24,25,29,1.0);
    
    a {
        display: block;
        width: auto;
        text-decoration: none;
        color: #F3CD49;
        min-width: 100px;
        padding: 10px;
    }

    a:hover {
        color: #838EDB;
    }

    input {
        margin: 1rem;
        background-color: grey;
        color: white;
        border: 1px solid black;
    }

    p {
        padding: 10px;
        min-width: 100px;
        display: block;
        width: auto; 
        margin-bottom: 0;
    }

    ul {
        padding-top: 0;
        list-style: none;

        li {
            margin: auto 0;
            padding-left: 20px;
        }
    }
}

@media screen and (max-width : 768px) {
    nav > div > div > span {
        position: static;
        display: none;
    }

    .hamburger {
        display: inline-block;
    }
}

/* Generic Body Stylings */
.container {
    font-family: 'Montserrat';
    font-weight: 400;
    padding-bottom: 8px;

    h1, h2, h3, h4, h5 {
        font-family: 'Merriweather';
    }
}

.category-tag {
    display: inline-block;
    background: #5A6297;
    color: whitesmoke;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    font-variant: small-caps;
    
}

.category-tag:before {
    padding-right: 0.5em;
}

.category-tag:hover {
    text-decoration: none;
    background: #838EDB;
    color: #fff;
}

/* Home Page Stylings */
div.article-list {
    text-align: justify;

    h1 {
        text-align: left;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 4rem;
    }

    h2 {
        font-weight: 300;
        font-style: italic;
        font-size: 1.6rem;
    }

    h1 > a {
        text-decoration: none;
        color: #3F456A;
    }

    h1 > a:hover {
        color: #5A6297;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        max-width: 100%;
        align-content: center;
    }

    iframe {
        z-index: 1;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

div.article-pages {
    text-align: center;
    align-content: center;
}

a.category-link {
    text-decoration: none;
    color: #3F456A;
}

a.category-link:hover {
    color: #5A6297;
}

/* Categories pages */ 
div.category-page {
    h1 {
        text-align: center;
        font-size: 50px;
        color: #3F456A;
    }

    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
    }

    section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        text-align: left;

        a {
            text-decoration: none;
            color: #3F456A;
        }

        a:hover {
            color: #5A6297;
        }

        h2 {
            font-size: 4rem;
        }

        h3 {
            margin-bottom: 0.5rem;
            font-weight: 400;
            font-size: 3rem;
        }

        h5 {
            font-size: 1.5rem;
            font-style: italic;
        }
    }
}

/* About Page Styling */ 

img.about {
    border-radius: 50%;
    max-width: 100%;
    display: block;
}

h1.about {
    text-align: center;
    color: #3F456A;
}

table.about-contact {
    tbody {
        tr {
            td {
                text-align: center;

                a {
                    text-decoration: none;
                    color: #3F456A;
                }

                a:hover {
                    color: #838EDB;
                }
            }
        }
    }
}

/* Article Element Stylings */
div.article {
    h1 {
        text-align: center;
        font-size: 50px;
        color: #3F456A;
    }
    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
    }

    div.body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        text-align: justify;

        div.images {
            display: flex;
            flex-wrap: wrap;
            text-align: center;

            p {
                flex: 1 1 0;
                width: 45%;

                img {
                    display: inline-flex;
                    margin: 0 auto;
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            max-width: 100%;
            justify-content: center;
        }

        iframe {
            display: block;
            margin: 0 auto;
            margin-bottom: 2rem;
            max-width: 100%;
        }

        h3, h4, h5 {
            text-align: center;
            font-size: 25px;
        }

        ol {
            padding-left: 15px;
            padding-right: 15px;

            li {
                padding-left: 10px;
            }
        }

        ul {
            margin-left: 1.5em;
            padding-left: 15px;
            padding-right: 15px;

            li {
                padding-left: 10px;
                list-style: disc;
            }
        }
    }
}

img.about-author {
    border-radius: 50%;
    max-width: 100%;
    display: block;
    margin-bottom: 1rem;
}

h3.about-author-header {
    justify-content: left;
}

@media screen and (max-width : 768px) {
    div.article {
        div.body {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

blockquote {
    font-style: italic;
    border-left: 3px solid #ccc;
    padding-left: 15px;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        flex: 1 1 0;
        width: 45%;
    }

    p:first-child {
        padding-right: 0.5rem;
    }

    p:last-child {
        padding-left: 0.5rem;
        text-align: right;
    }
}

/* Patreon and Commission Cards */
.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.card-deck .card {
    margin-bottom: 15px
}

@media (min-width:576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .card-deck .card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px
    }
}

/* Sidebar stylings for mobile viewing */
@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .home-article-list {
        min-width: 100%;
    }
}

div.search-wrap {
    align-content: center;
    position: relative;

    input, button {
        border: 1px solid lightgrey;
    }

    button {
        position: absolute;
        padding-left: 2rem;
        padding-right: 2rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    input {
        width: 81%;
        border-right: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    @media screen and (max-width: 1080px) {
        button {
            display: none;
        }

        input {
            width: 100%;
            border-right: 1px solid lightgrey;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

/* Footer Element Stylings */

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
    padding-top: 10px;
}
