/* Created mostly by RB of the FimFiction server, with sparse help from Figments */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/* Nav Element Stylings */
nav {
    width: 100%;
    height: 10rem;
    color: #F3CD49;
    background-image: url(/assets/images/4441cd00e8a9d75436b52d5ad646ff4f.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    margin-bottom: 3em;
}
nav > div {
    background-color: rgba(24,25,29,0.9); 
}

nav > div > div {
    padding: 0.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: left;
    width: 95%;
    max-width: 96rem;
}

nav > div > div > span {
  margin: auto 0;
}

nav > div > div > h1 {
  display: inline;
  color: #F3CD49;
  margin: auto;
  font-family: 'Montserrat';
  font-weight: 300;
}

nav > div > div > h1 > strong {
    font-weight: 700;
}

nav > div > div > span > a {
    font-family: 'Montserrat';
    padding: 2rem;
    color: #F3CD49;
    text-decoration: none;
    font-size: 16px;

    :hover {
        color: #ccc;
    }
}

/* Generic Body Stylings */
body {
    font-family: 'Merriweather';
    padding-bottom: 50px;
}

/* About Page Stylings */

/* Article Element Stylings */

div.article {
    h1 {
        text-align: center;
        font-size: 50px;
    }
    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 18px;
    }

    div.body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1em;
        padding-right: 1em;
        text-align: justify;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            max-width: 100%;
            align-content: center;
        }

        iframe {
            display: block;
            margin: 0 auto;
        }

        h3 {
            text-align: center;
            font-size: 25px;
        }
    }
}

blockquote {
    font-style: italic;
    border-left: 3px solid #ccc;
    padding-left: 15px;
}

/* Footer Element Stylings */

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
