---
layout: "default"
---

<h1 class="about">About Wholesome Rage</h1>

<div class="row">
    <div class="five columns">
        <center>
            <img src="/assets/images/{{ page.img }}">
            <br>
            {{ page.whois }}
            <br>
            <table class="about-contact">
                <tbody>
                    <tr>
                        <td><i class="far fa-envelope"></i></td>
                        <td><a href="mailto:WholesomeRage@outlook.com">Email</a></td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-patreon"></i></td>
                        <td><a href="https://www.patreon.com/WholesomeRage">Patreon</a></td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-youtube"></i></td>
                        <td><a href="https://www.youtube.com/channel/UCxG_NK38ltHYnrs87V4j-bg">YouTube</a></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <div class="seven columns">
        {{ content }}
        <hr>
        <center><h4>Have a request? Perform the summoning ritual below.</h4></center>
        <form action="mailto:{{ page.email }}?subject=Writing Request for Wholesomerage.com" method="GET" enctype="text/plain">
            <div class="row">
                <div class="six columns">
                    <label for=emailInput>Email:</label>
                    <input class="u-full-width" type="email" placeholder="you@mail.com" id="emailInput">
                </div>
                <div class="six columns">
                    <label for=nameInput>Your Name:</label>
                    <input class="u-full-width" type="text" placeholder="Jane Doe" id="nameInput">
                </div>
            </div>
            <label for="requestBody">Your Request:</label>
            <textarea class="u-full-width" placeholder="Hey there ..." id="requestBody"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>