---
layout: "default"
---

<h1>About Wholesome Rage</h1>

<div class="row">
    <div class="five columns">
        <center>
            <img src="/assets/images/{{ page.img }}">
            <br>
            {{ page.whois }}
            <br>
            <i class="far fa-envelope"></i> <a href="mailto:WholesomeRage@outlook.com">Contact</a>
        </center>
    </div>
    <div class="seven columns">
        {{ content }}
        <hr>
        <center><h4>Have a request? Perform the summoning ritual below.</h4></center>
        <form action="mailto:{{ page.email }}?subject=Writing Request for Wholesomerage.com" method="GET" enctype="text/plain">
            <div class="row">
                <div class="six columns">
                    <label for=emailInput>Email:</label>
                    <input class="u-full-width" type="email" placeholder="you@mail.com" id="emailInput">
                </div>
                <div class="six columns">
                    <label for=nameInput>Your Name:</label>
                    <input class="u-full-width" type="text" placeholder="Jane Doe" id="nameInput">
                </div>
            </div>
            <label for="requestBody">Your Request:</label>
            <textarea class="u-full-width" placeholder="Hey there ..." id="requestBody"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>