---
layout: "default"
---
<center>
    <h1 style="color: #5A6297">Commissions</h1>
</center>
<div class="commission-desc">
    <p>
        {{ content }}
    </p>
    <p class="diminish">
        Prices are shown in USD. They are only a baseline&mdash;please do not assume that they're set in stone.
    </p>
</div>
<hr>
<div class="cardrow">
    <div class="card">
        <div class="card-content">
            <h1>Original Content</h1>
            <h2>$20<strong>/ thousand words</strong></h2>
            <p>
                Writing for both fiction and non-fiction requests. 
            </p>
            <p>
                Depending on the density of the request&mdash;or due to the request requiring additional research&mdash;the price may vary. 
            </p>
        </div>
        <div class="card-footer">
            <hr>
            <a class="button" href="mailto:{{ site.email }}?subject=Original%20Content%20Commission%20for%20Wholesomerage.com">Submit Request</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h1>Viewing</h1>
            <h2>$8<strong>/ hour of content</strong></h2>
            <p>
                I'll watch a movie or series you want and formulate a strong opinion on it.
            </p>
            <p>
                It's a surprisingly common request, and I just don't have the time otherwise.
            </p>
        </div>
        <div class="card-footer">
            <hr>
            <a class="button" href="mailto:{{ site.email }}?subject=Viewing%20Commission%20for%20Wholesomerage.com">Submit Request</a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h1>Editing</h1>
            <h2>$8<strong>/ thousand words</strong></h2>
            <p>
                For both fiction and non-fiction requests.
            </p>
            <p>
                Similar to the Original Content commission option, pricing varies depending on the density of the request.
            </p>
        </div>
        <div class="card-footer">
            <hr>
            <a class="button" href="mailto:{{ site.email }}?subject=Editing%20Commission%20for%20Wholesomerage.com">Submit Request</a>
        </div> 
    </div>
</div>