<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/Skeleton-2.0.4/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/Skeleton-2.0.4/css/skeleton.css">
        <link rel="stylesheet" href="/assets/css/styles.css">

        <title>{{ page.title }} - Wholesome Rage</title>
    </head>
    <body>
        <nav>
            <div>
                <div>
                    <h1>wholesome<strong>rage</strong></h1>
                    <span>
                        {% for item in site.data.navigation %}
                        <span>
                            <a href="{{ item.link }}">
                                {{ item.name }}
                            </a>
                        </span>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </nav>
        <div class="container">
            {{ content }}
        </div>
        
        <footer>
            <div class="container">
                &copy; 2019 Wholesome Rage | <a href="#">Back to top</a>
            </div>
        </footer>
        <script src="https://unpkg.com/lunr/lunr.js"></script>
        <script src="/assets/js/search.js"></script>
    </body>
</html>