<!DOCTYPE html>
<html>
    <head>
        <!--Default stuff-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Search functionality-->
        {% if page.tipue_search_active or layout.tipue_search_active %}
            <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
            <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
            <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
            <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
        {% endif %}

        <!--Stylesheets-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/Skeleton-2.0.4/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/Skeleton-2.0.4/css/skeleton.css">
        <link rel="stylesheet" href="/assets/css/styles.css">

        <!--Page title-->
        <title>{{ page.title }} - Wholesome Rage</title>
    </head>
    <body>
        <nav>
            <div>
                <div>
                    <h1><a href="/" style="text-decoration: none; color: #f3cd49;">wholesome<strong>rage</strong></a></h1>
                    <span>
                        {% for item in site.data.navigation %}
                        <span>
                            <a href="{{ item.link }}">
                                {{ item.name }}
                            </a>
                        </span>
                        {% endfor %}
                    </span>
                    <span class="hamburger">
                        <label for="show-menu" class="show-menu"><i class="fas fa-bars" style="color: #f3cd49; font-size: 20px;"></i></label>
                        <input type="checkbox" id="show-menu" role="button">
                        <span class="dropdown" id="menu">
                            <span>
                                <form action="/search.html" style="margin-bottom: 0; margin-top: 0;">
                                <div class="dropdown-search">
                                    <input type="text" id="tipue_search_input" name="q" placeholder="Search articles ...">
                                </div>
                                </form>
                            </span>
                            {% for item in site.data.navigation %}
                            <span>
                                <a href="{{ item.link }}">
                                    {{ item.name }}
                                </a>
                            </span>
                            {% endfor %}
                            <span>
                                <p>Categories:</p>
                                <ul>
                                    {% for category in site.categories %}
                                        <li>
                                                <a class="category-link" href="{{ site.baseurl }}/category.html#{{ category[0] | slugify }}">{{ category | first }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </nav>
        <div class="container">
            {{ content }}
        </div>
        
        <footer>
            <div class="container">
                &copy; 2019 Wholesome Rage | <a href="https://www.patreon.com/WholesomeRage">Support me on Patreon!</a> | <a href="#">Back to top</a>
            </div>
        </footer>
    </body>
</html>