---
layout: "default"
---

<div class="article">
    <h1>{{ page.title }}</h1>
    <h2>by {{ page.author }} | {{ page.date | date: "%-d %B %Y" }}</h2>

    <hr>

    <div class="body">
        {{ content }}

        {% if page.contributor == true %}
            <hr>
            <h3>About {{ page.author }}</h3>
            <div class="row" id="contrib">
                <div class="four columns">
                    <img src="{{ page.img }}" style="margin-bottom: 1em;">
                    <center>
                    {% for links in page.contact %}
                        {% for items in links.link-one %}
                            <a href="{{ items.location }}">{{ items.name }}</a>
                        {% endfor %}
                    {% endfor %}
                    </center>
                </div>
                <div class="eight columns">
                    <p>
                        <i>{{ page.blurb }}</i>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</div>