---
layout: "default"
tipue_search_active: true
---

<form action="{{ page.url | relative_url }}">
    <div class="row">
        <div class="ten columns">
            <input class="u-full-width" type="text" id="tipue_search_input" name="q" placeholder="Search articles ...">
        </div>
        <div clas="two columns">
            <button type="submit" style="float: right;"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
      
<div class="category-page" id="tipue_search_content"></div>
      
<script>
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch();
    });
</script>